body {
    font-family: Arial, sans-serif;
}

header {
    width: 100%;
}

header img {
    display: block;
    margin: 0 auto;
    padding: 1em;
}

#navigation_and_searchbar {
    display: block;
    margin: 0 auto;
    height: fit-content;
}

#navigation_and_searchbar nav {
    display: block;
    margin: 0 auto;
    width: fit-content;
}

#navigation_and_searchbar nav ul {
    list-style-type: none;
}
 
#navigation_and_searchbar nav ul li {
    text-align: center;
}

form {
    display: block;
    margin: 0 auto;
}

#navigation_and_searchbar aside {
    display: block;
    margin: 0 auto;
    width:fit-content;
}

main {
    width: calc(100% - 1em);
    min-height:fit-content;
    margin: 0 auto;
    padding: 1em;
}

#index_section h2, #image_section h2{
    text-align: center;
}

#index_section p {
    display: block;
    margin: 0 auto;
    max-width: 600px;
    text-align: center;
    padding: 1em;
    border: 2px solid black;
    border-radius: 1em;
}

#image_section img {
    display: block;
    margin: 0 auto;
}

footer {
    width: calc(100% - 1em);
    min-height: 80px;
    padding: 1em;
}

footer a {
    text-decoration: none;
    text-align: left;
}

footer p {
    text-decoration: none;
    text-align: center;
}